{
	"apexInsertFinalNewline": false,
	"bracketSameLine": true,
	"singleAttributePerLine": false,
	"bracketSpacing": true,
	"singleQuote": true,
	"tabWidth": 4,
	"trailingComma": "none",
	"useTabs": true,
	"htmlWhitespaceSensitivity": "css",
	"overrides": [
		{
			"files": "**/lwc/**/*.html",
			"options": { "parser": "lwc" }
		},
		{
			"files": "*.{cmp,page,component}",
			"options": { "parser": "html" }
		},
		{
			"files": "*.{yml,yaml}",
			"options": { "tabWidth": 2, "useTabs": false }
		}
	],
	"plugins": ["prettier-plugin-apex", "@prettier/plugin-xml"],
	"$schema": "https://json.schemastore.org/prettierrc"
}
